/*Navigation Menu format to be same as google jome page*/
ul {
    list-style-type: none;
    background-color: lightgrey;
}
.menu{
    display: grid;
    background-color: lightslategray;
    grid-template-rows: 20px;
}
.top-m{
    grid-template-columns: 70px 70px 1fr repeat(4, 60px);
}
.bottom-m{
    grid-template-columns: repeat(3,100px) 1fr repeat(2, 100px) 150px;
}
/*#top-menu {
    display: grid;
    grid-template-columns: 5% 5% auto 5% 5% 5% 5%;
    

    background-color: rgb(161, 253, 253);
    font-family: arial, sans-serif;

}
/*general class to make elements fit page*/
.fit_page_flex{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(219, 188, 141);
}
/*logo formating style*/
#googlelogo {
    display: flexbox;
    background-color: mediumaquamarine;
    position: relative;
    padding-top: 40px;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 20px;
    height: 180px;
    width: 500px;
    }
.topmenu{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(184, 183, 179);
    }
.align_left{
    float: left;
    }
.align_right{
    float: right;
    }